.losign-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.losign-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(115, 115, 115, 0.4);
  padding: 20px;
  margin-top: 180px;
  margin-bottom: 180px;
  width: 1040px;
  padding-bottom: 0px;
  height: 340px;
}
.loinput-div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px;
  padding: 5px;
}
.lospan-signIn {
  padding: 5px 5px 5px 0px;
  font-weight: bold;
}
.loinput {
  border-radius: 4px;
  border-color: gray;
  outline: 0;
  height: 30px;
  padding-left: 5px;
}

.login-div input {
}
.losubmit-div {
  margin-top: 30px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.lobtn-create {
  background-color: gray;
  color: black;
  border: solid 1px rgb(59, 59, 59);
  padding: 5px 20px;

  margin-bottom: 50px;
}
.loinputText {
  max-height: 75px;
  min-height: 38px;
  resize: none;
  padding: 9px;
  font-size: 15px;
}

.locreate {
  margin-top: 20px;
  margin-left: 50px;
}
