* {
  box-sizing: border-box;
}
body {
  background-image: url("background.jpg");
  background-size: cover;
}
.App {
  text-align: center;
}
.article-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.articale {
  margin: 10px;
}
.footer-mainp {
  height: 50px;
  background-color: rgba(115, 115, 200, 0.4);
  color: azure;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  padding-top: 8px;
}
.article-parag {
  color: azure;
  size: 5px;
  text-justify: newspaper;
  text-align: center;
}
