
.component-main {
    display: flex;
    flex-direction: column;

    background-color: rgba(211,211,211,0.6);
     width: 550px;
     margin-bottom: 100px;
     margin-left: 150px;
  }
    .category {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
  }
  .category button{
    color:azure;
    background-color: blueviolet;
    border: none
  }

  .image-comp {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .image-comp img {
      width:70%;
      height: 80%;
  }
  .title-comp h5 {
    color:black;
    font-family: fantasy;
    font-size: 20px;
  }
  .date p {
    color:black;
    font-family: fantasy;
    font-size: 20px;

  }
  .parag-comp p {
    color:black;
    font-family: fantasy;
    font-size: 20px;

  }